@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:ital,wght@0,300;0,700;0,900;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: "mi_fuente";
    src: url(fuente/Steffany.ttf);
}

@font-face {
    font-family: "carro";
    src: url(fuente/carro.otf);
}

h1 {
    padding-bottom: 20px;
    font-family: 'mi_fuente', cursive;
    font-size: 2.6rem;
    line-height: 1.1em;
    text-align: left;
    color: $mclaro;

    span:first-of-type {
        font-size: 3.6rem;
        color: $rojo;
    }

    span:last-of-type {
        font-size: 3.3rem;
        color: $rojo;
    }

    @media only screen and (max-width: 768px) {
        font-size: 2.8em;
        text-align: center;
    }
}

h2 {
    display: flex;
        justify-content: center;
    font-family: 'mi_fuente', cursive;
    font-size: 2.4rem;
    margin-top: .4em;
    padding: .3em .1em 0em;
    color: $blanco;
    background-color: $rojo;
}

h3 {
    font-family: 'mi_fuente', cursive;
    text-align: center;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-top: 0em;
    padding: .3em .1em 0em;
    color: $rojo;
}

h4 {
    font-family: 'mi_fuente', cursive;
    font-size: 1.8rem;
    color: $rojo;

    @media only screen and (max-width: 890px) {
        font-size: 1.4rem;
    }
    @media only screen and (max-width: 768px) {
        font-size: 2rem;
    }
}

p {
    font-family: 'Roboto', cursive;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5em;
    color: $texto;

    @media only screen and (max-width: 768px) {
        text-align: center;
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

.parrafo__steffany {
    font-family: 'mi_fuente', cursive;
    color: gray;
}

.steffany {
    font-family: 'mi_fuente', cursive;
}