$rojo: #ef4058;
$rosa: #fad8d5;
$rojoscuro: #a11f31;
$botonadd: #d4c8b8;
$amarillo: rgb(253, 198, 68);
$marron: #362214;
$mclaro: #442814;
$masclaro: #533b29;
$mpopcion:  #b4465f;
$mlight: rgba(255, 81, 0, 0.2);
$blanco: whitesmoke;
$crema: #fcf4eb;
$cremaoscuro: #ffecd6;
$marfil: #fff;
$texto: rgb(48, 48, 48);
$dark: #201b1c;
$gc: rgb(141, 141, 141);